[submodule "roles/ansible-debian-bootstrap"]
	path = roles/ansible-debian-bootstrap
	url = git@github.com:HanXHX/ansible-debian-bootstrap.git
	branch = master
[submodule "roles/ansible-role-docker_arm"]
	path = roles/ansible-role-docker_arm
	url = https://github.com/geerlingguy/ansible-role-docker_arm.git
	branch = master
