# Environment variables for go2rtc
GO2RTC_CONFIG="/opt/go2rtc/go2rtc.yml"
GO2RTC_LOG_LEVEL="info"
GO2RTC_LOG_FILE="/var/log/go2rtc.log"
GO2RTC_PORT="1984"
# GO2RTC_AUTH_ENABLED="true"
# GO2RTC_AUTH_USER="{{ go2rtc_auth_user }}"
# GO2RTC_AUTH_PASSWORD="{{ go2rtc_auth_password }}"
